* {
    box-sizing: border-box
}

body {
    font-family: 'Georgia', serif;
    margin: 0;
    background-color: #FEFCF3;
    color: #000000;
    line-height: 1.6;
}

review-container {
    padding: 20px;
}

.review-container h2 {
    font-family: 'Earwig Factory';
    font-size: 2.5em;
    text-align: center;
}

.review-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.review-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.review-item h3 {
    font-family: 'Earwig Factory';
    font-size: 5em;
    color: #000000;
    margin-bottom: 10px;
}

.review-item .description {
    color: #666;
    margin-bottom: 15px;
    font-style: italic;
}

.review-item .rating {
    font-size: 2em;
    font-weight: bold;
    color: #FF0B55;
}

.review-item img {
    height: 75%;
    width: 75%;
}

.topnav {
    /* font-family: 'Droid Serif', serif; */
    overflow: hidden;
    background-color: #000000;
    position: sticky;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}

.topnav .myLinks {
    display: none;
}

.topnav a {
    float: left;
    color: rgb(195, 192, 192);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.topnav h3 {
    font-size: 30px;
}

.topnav h2 {
    font-size: 25px;

}

.topnav a.icon {
    float: right;
}

.topnav a:hover {
    background-color: #b00000;
    color: rgb(0, 0, 0);
}

.topnav-items-container {
    float: right;
}

/* CSS */
.button-74 {
    background-color: #000000;
    border: 2px solid #ff0000;
    border-radius: 30px;
    box-shadow: #e60000 4px 4px 0 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-74:hover {
    background-color: #000000;
}

.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}